:root {
  --color-main-background: #090b1a;
  --color-card-background: #1b1938;
  --color-accent: #aa5cdb;
  --color-white: #ffffff;
  --color-white-light-1: #ffffffc0;
  --color-white-light-2: #ffffff0f; }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Inter", sans-serif;
  color: var(--color-white);
  background-color: var(--color-main-background);
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center; }

.container {
  background-color: var(--color-card-background);
  border-radius: 15px;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 1fr;
  grid-template-columns: [right-container-start] minmax(min-content, 41vw) [right-container-end left-container-start] max-content [left-container-end]; }
  @media only screen and (max-width: 56.25em) {
    .container {
      grid-template-rows: 30vh max-content;
      grid-template-columns: 80vw;
      grid-auto-flow: row; } }
  @media only screen and (max-width: 37.5em) {
    .container {
      grid-template-rows: 38vh max-content;
      grid-template-columns: 75vw;
      grid-auto-flow: row; } }
  @media only screen and (max-width: 25em) {
    .container {
      grid-template-rows: minmax(min-content, 55vw) max-content;
      grid-template-columns: 80vw;
      grid-auto-flow: row; } }

.right-container {
  display: grid;
  padding: 5rem;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 56.25em) {
    .right-container {
      grid-column: 2 / -2;
      grid-row: 2 / -2;
      text-align: center; } }
  @media only screen and (max-width: 37.5em) {
    .right-container {
      padding: 2rem; } }
  .right-container__heading {
    font-size: 3.8rem; }
    @media only screen and (max-width: 37.5em) {
      .right-container__heading {
        font-size: 2.8rem; } }
    @media only screen and (max-width: 25em) {
      .right-container__heading {
        font-size: 2.5rem; } }
  .right-container__span {
    color: var(--color-accent); }
  .right-container__main-text {
    font-size: 1.4rem;
    line-height: 1.7;
    color: var(--color-white-light-1);
    padding-right: 10rem;
    margin-top: -4rem; }
    @media only screen and (max-width: 75em) {
      .right-container__main-text {
        margin-top: 0;
        padding-right: 0 2rem; } }
    @media only screen and (max-width: 56.25em) {
      .right-container__main-text {
        padding: 2rem 0; } }
    @media only screen and (max-width: 37.5em) {
      .right-container__main-text {
        font-size: 1.5rem; } }
    @media only screen and (max-width: 25em) {
      .right-container__main-text {
        font-size: 1rem; } }
  .right-container__testimonials {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-transform: uppercase; }
    @media only screen and (max-width: 56.25em) {
      .right-container__testimonials {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        gap: 2.31rem; } }
    .right-container__testimonials--number {
      color: var(--color-white);
      font-size: 1.7rem;
      font-weight: 700; }
      @media only screen and (max-width: 37.5em) {
        .right-container__testimonials--number {
          font-size: 1rem; } }
    .right-container__testimonials--text {
      color: var(--color-white-light-1);
      padding-top: 0.8rem; }

.left-container {
  display: grid;
  background-color: var(--color-accent);
  border-radius: 0 15px 15px 0px; }
  @media only screen and (max-width: 56.25em) {
    .left-container {
      grid-column: 1 / -1;
      grid-row: 1 / 2;
      border-radius: 15px 15px 0px 0px; } }
  .left-container img {
    align-self: stretch;
    mix-blend-mode: multiply;
    border-radius: 0 15px 15px 0px; }
    @media only screen and (max-width: 56.25em) {
      .left-container img {
        width: 100%;
        height: 100%;
        border-radius: 15px 15px 0px 0px; } }

.attribution {
  font-size: 11px;
  text-align: center; }
  .attribution__text {
    position: absolute;
    bottom: 0;
    transform: translate(-50%, -50%); }
    @media only screen and (max-width: 56.25em) {
      .attribution__text {
        bottom: -6rem; } }
    @media only screen and (max-width: 25em) {
      .attribution__text {
        bottom: -1rem; } }
  .attribution__link {
    color: #3e52a3; }
