:root {
  --color-main-background: #090b1a;
  --color-card-background: #1b1938;
  --color-accent: #aa5cdb;

  --color-white: #ffffff;
  --color-white-light-1: #ffffffc0;
  --color-white-light-2: #ffffff0f;
}

$bp-largest: 75em; //1200px (1200/16=75)
$bp-large: 62.5em; //1000px
$bp-medium: 56.25em; //900px
$bp-small: 37.5em; //600px
$bp-very-small: 25em; //400px
$bp-smallest: 22em;  //360px

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem = 10px 10px/16px(browser default)  = 62.5%
}

body {
  font-family: "Inter", sans-serif;
  color: var(--color-white);
  background-color: var(--color-main-background);
  height: 100vh;

  display: grid;
  justify-content: center;
  align-content: center;
}
