.container {
  background-color: var(--color-card-background);
  border-radius: 15px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: [right-container-start] minmax(min-content, 38vw) [right-container-end left-container-start] min-content[left-container-end];
}

.right-container {
  display: grid;
  padding: 4.75rem;

  &__heading {
    font-size: 3.8rem;
  }
  &__span {
    color: var(--color-accent);
  }
}

.left-container {
  display: grid;

  img {
    align-self: stretch;
    border-radius: 0 15px 15px 0px;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  align-self: end;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
