.container {
  background-color: var(--color-card-background);
  border-radius: 15px;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 1fr;
  grid-template-columns: [right-container-start] minmax(min-content, 40vw) [right-container-end left-container-start] 45vw [left-container-end];

  @media only screen and(max-width: $bp-medium) {
    grid-template-rows: 30vh max-content;
    grid-template-columns: 80vw;
    grid-auto-flow: row;
  }

  @media only screen and(max-width: $bp-small) {
    grid-template-rows: 38vh max-content;
    grid-template-columns: 75vw;
    grid-auto-flow: row;
  }
}
