.container {
  background-color: var(--color-card-background);
  border-radius: 15px;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 1fr;
  grid-template-columns: [right-container-start] minmax(min-content, 42vw) [right-container-end left-container-start] max-content[left-container-end];

  @media only screen and(max-width: $bp-largest) {
    grid-template-rows: 1fr;
    grid-template-columns: [right-container-start] minmax(min-content, 38vw) [right-container-end left-container-start] 38vw [left-container-end];
  }

  @media only screen and(max-width: $bp-medium) {
    grid-template-rows: 40vh max-content;
    grid-template-columns: 85vw;
    grid-auto-flow: row;
  }

  @media only screen and(max-width: $bp-small) {
    grid-template-rows: 32vh max-content;
    grid-template-columns: 75vw;
    grid-auto-flow: row;
  }

  @media only screen and(max-width: $bp-very-small) {
    grid-template-rows: minmax(max-content, 30vh) max-content;
    grid-template-columns: 85vw;
    grid-auto-flow: row;
  }

  @media only screen and(max-width: $bp-smallest) {
    grid-template-rows: minmax(max-content, 32vh) max-content;
    grid-template-columns: 100vw;
    margin: 5rem;
  }
}
